html, body, p, h1, h2, strong, a, button {
	font-family: Courier, "Courier New", monospace;
	font-size: 1em;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	text-transform: none;
	
	text-align: center;
	
	color: black;
	background-color: #eee;
}

body {
	margin-top: 6%;
}

hr {
	visibility: hidden;
	clear: both;
}

h1 { font-size: 1.5em; }
h2 { font-size: 1.2em; }
strong { text-transform: uppercase; }

#requires_javascript { display: none; }

#about {
	margin-top: 1.8em;
	font-weight: normal;
}
#about p {
	margin: 0.2em;
	padding: 0em;
	
	font-weight: normal;
	font-size: 0.8em;
}
#about a {
	font-weight: normal;
	text-decoration: underline;
}

#logo {
	width: 100px;
	height: 100px;
	padding: 0em;
	margin: 1.4em auto;
	
	background: black url("icons.png") no-repeat 0px 0px;
}

.working { color: #555; }

ul {
	margin: 0em auto;
	padding: 0em;
	
	max-width: 45em;
	height: 9em;
}
li {
	display: block;
	float: left;
	width: 50%;
	margin: 0.2em 0em 0.4em;
	padding: 0em;
	list-style-type: none;
}

button {
	font-size: 1.1em;
	padding: 0.2em 1em;
	cursor: pointer;
	
	color: black;
	background: #e7e7e7;
	border: 1px solid black;
}
button:hover {
	background: #ccc;
}
